.chat__list {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #c4c3c3;
  width: 25%;
  height: calc(100vh - 70px);
}

.chat__top {
  background-color: #c5d6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 16px;
}

.chat__header {
  margin: 0;
}

.MuiList-root {
  background-color: white;
  height: 100%;
  overflow-y: auto;
}

.MuiList-root::-webkit-scrollbar {
  width: 5px;
  background-color: #f9f9fd;
}

.MuiList-root::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.08);
}

.MuiList-root::-webkit-scrollbar-track {
  background-color: #ffffff;
}
