.App {
  color: #1f3f68;
  display: flex;
  /* min-height: 100vh; */
  flex-grow: 1;
  border: 2px solid #c4c3c3;
  box-shadow: 5px 10px 50px rgb(16 112 177 / 20%);
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
  margin-bottom: 20px;
  margin-top: -100px;
}

.App_openedChat {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* border-left: 1px solid #c4c3c3; */
  width: 75%;
  height: calc(100vh - 70px);
}

.openedChat__header {
  background-color: #c5d6e6;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 72px;
  margin: 0;
  padding: 16px;
}
