.message__form {
    display: flex;
    align-items: flex-end;
    border-top: 1px solid #c4c3c3;
    box-sizing: border-box;
    padding: 20px;
    gap: 5px;
    background-color: #FFFFFF;
    /* position: sticky;
    bottom: 0; */
}