.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
  width: 100%;
}

.message:first-child {
  margin-top: auto;
}

.message__author {
  font-weight: bold;
  margin: 0;
  padding-left: 5px;
}

.message__text {
  word-wrap: break-word;
  opacity: 0.8;
  border: 1px solid #356ead;
  border-radius: 10px;
  height: fit-content;
  min-width: 35%;
  max-width: 75%;
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}

.message_anotherUser {
  align-items: flex-end;
  text-align: right;
  color: blue;
}

.message_user {
  text-align: left;
}
