.nav {
  background: #5a98d0;
  box-sizing: border-box;
  height: 150px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.nav ul li a {
  color: #ffffff;
}

.nav ul li a:hover {
  font-weight: bold;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
